{% extends "base.html" %}

{% load static %}

<!-- everything from h2 tag goes in content block in base template -->

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/new-story-styles.css' %}">
{% endblock %}

{% block content %}

<div class="header-img"></div>

{% if request.user.is_authenticated %}

<div class="grid-container">
   
    <div class="grid-item"><h2 id="new-story-h2">Show us what you got.</h2></div>
    
        <div class="grid-item">
        
        <form method="post" enctype="multipart/form-data">

            {% csrf_token %}
            {{ form.as_p }}
            <p>Please note for categories, enter exactly one of the following options:</p>
            <p>1. Digital</p>
            <p>2. Photography</p>
            <p>3. Painting</p>
            <button type="submit" value="submit">SUBMIT</button> 
            <!-- <input type="submit" value="submit"> -->
        </form>
    </div>
    
</div>   
    
        
    
    {% else %}

        <a href="/users/create-account">Create an account to write a story! Click here.</a>

    {% endif %}

{% endblock %}