{% extends "base.html" %}    
{% load static %}


{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %} 

{% block content %}


<div>

{% if all_categories %}


    <h5>Digital</h5>
    {% if Digital %}
    {% for story in Digital_sneak_peek %}
        {% include "./storyCard.html" with story=story position=forloop.counter %}
    {% endfor %}
    {% else %}
        <p>No stories for this category!</p>
    {% endif %}
    <a href="{% url 'news:digital' %}">View All Digital Submissions</a>

    <h5>Photography</h5>
    {% if Photography %}
    {% for story in Photography_sneak_peek %}
        {% include "./storyCard.html" with story=story position=forloop.counter %}
    {% endfor %}
    
    {% else %}
        <p>No stories for this category!</p>
    {% endif %}
    <a href="{% url 'news:photography' %}">View all Photography Submissions</a>


    <h5>Painting</h5>
    {% if Painting %}
    {% for story in Painting_sneak_peek %}
        {% include "./storyCard.html" with story=story position=forloop.counter %}
    {% endfor %}
    
    {% else %}
        <p>No stories for this category!</p>
    {% endif %}
    <a href="{% url 'news:painting' %}">View all Painting Submissions</a>
        
    

{% endif %}
{% endblock %}    

</div>

