{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %} 

{% block content %}

<div id="story-wrapper">
    <h2>{{ story.title }}</h2>
    <h4>Artist: {{ story.author }}</h4>
    <div id="story-content">
        <!-- add conditional statement to use the defined story image, the placeholder image from database, or the default if no conditions matched -->
        {% if story.story_img %}
            <img src="../media/{{  story.story_img  }}">
        {% else %}
            <img src="../media/images/default_story.jpg"> 
        {% endif %} 

        {{ story.content|linebreaks }}
    </div>
</div>

{% endblock %}

