{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %} # replaces block stylesheets in base.html

{% block content %}

<div id="story-wrapper">
    <h2>{{ story.title }}</h2>
    <h4>{{ story.author }}</h4>
    <div id="story-content">
        <!-- add conditional statement to use the defined story image, the placeholder image from database, or the default if no conditions matched -->
        {% if story.story_img != default %}
            <img src="{{  story.story_img  }}">
        {% elif position < 5 %}
            <img src="../static/news/images/placeholder-{{ position }}.jpg">
        {% else %}
            <img src="https://picsum.photos/600">
        {% endif %}
        
        <!-- <img src="{{  story.img_url  }}"> -->
        <!-- <img src="{% static '/news/images/placeholder-5.jpg' %}"> -->
        {{ story.content|linebreaks }}
    </div>
</div>

{% endblock %}