<div class="story-card" id="story-card-{{ position }}">
    <a href="{% url 'news:story' story.id%}">
        {% if story.story_img %}
            <img src="/news/media/{{  story.story_img  }}">
        {% else %}
            <img src="/news/media/images/default_story.jpg"> 
        {% endif %} 
            <div class="story-card-text">
            <h3>{{ story.title }}</h3>
            <h4>{{ story.author }}</h4>
            <h4>{{ story.pub_date }}</h4>
            <p>{{  story.category  }}</p>
        </div>
    </a>
</div>

