{% extends "base.html" %}    
{% load static %}


{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %} # replaces block stylesheets in base.html

{% block content %}


<div>

{% if all_categories %}

    <h4>New cafes</h4>
    {% for story in all_categories %}
    {% if story.category == "New cafe" %}
        {% include "./storyCard.html" with story=story position=forloop.counter %}
    {% endif %}
    {% endfor %}

    
    
    <h4>All cafes</h4>
    {% for story in all_categories %}
    {% if story.category == "All cafes" %}
        {% include "./storyCard.html" with story=story position=forloop.counter %}
    {% endif %}
    {% endfor %}
        
    

{% endif %}
{% endblock %}    

</div>

